.cart-form-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 920px;
  gap: 20px;
  align-items: center;
}

.cart {
  background-color: var(--color1);
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px var(--color1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 0px;
  height: min-content;
}

.cart-column-names {
  display: flex;
}

.column-name1 {
  width: 120px;
}

.column-name2 {
  width: 150px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item p {
  font-weight: 400;
}

.cart-item img {
  width: 100px;
  border-radius: 10px;
}

.cart-film-title {
  width: 130px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
}

.empty-cart-text {
  padding-top: 83px;
  padding-bottom: 83px;
  text-align: center;
}

.forms {
  background-color: var(--color1);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px var(--color1);
  width: 400px;
  height: min-content;
  opacity: 1;
}

input {
  margin-bottom: 20px;
}

.cart-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.cart-form-bottom {
  display: flex;
  justify-content: space-between;
}

.cart-form-bottom div {
  width: 175px;
}

.cart-form-submit {
  color: var(--color2);
  font-size: 14px;
  font-weight: 600;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: min-content;
  height: 45px;
}

.cart-form-submit:hover {
  background-color: var(--color3);
  transition: 0.5s;
}

@media only screen and (max-width: 1220px) {
  .cart-form-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
  }
}
