footer {
  background-color: var(--color3);
  width: 100%;
}

footer ul {
  margin: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer li {
  list-style: none;
}

@media only screen and (max-width: 750px) {
  footer ul {
    display: block;
    margin-left: 20px;
  }
}
