@import url(defaults.css);

header {
  position: fixed;
  width: 100%;
  background-color: var(--color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 0px;
  padding-top: 10px;
  box-shadow: 0px 5px 10px var(--color1);
  z-index: 1;
}

.cart-icon {
  position: relative;
  filter: brightness(1);
}

.cart-icon img {
  opacity: 100%;
}

.cart-icon:hover {
  filter: brightness(0.5);
  transition: 0.3s;
}

.item-count {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: -6px;
  right: -4px;
  color: var(--color2);
  background-color: var(--color4);
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  width: 13px;
  height: 13px;
  border-radius: 10px;
}

.header-logo {
  width: 160px;
}

.header-logo:hover {
  filter: brightness(0.7);
  transition: 0.5s;
}

@media only screen and (max-width: 750px) {
  .header-logo {
    width: 130px;
  }

  header {
    padding-left: 20px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 400px) {
  header {
    padding-right: 20px;
  }
}
