.top {
  margin: auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.film-container {
  margin: auto;
  width: 1000px;
  background-color: rgb(34, 34, 34);
  padding: 25px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.film-container img {
  width: 150px;
  height: 225px;
  border-radius: 10px;
  filter: brightness(1) grayscale(0.5);
}

.film-card {
  display: flex;
  flex-direction: column;
}

.film-container img:hover {
  filter: brightness(1.3) grayscale(0);
  transition: 0.7s;
}

.film-container a {
  font-family: "Bebas neue";
  font-size: 24px;
  font-weight: 200;
  color: beige;
  text-align: center;
  text-decoration: none;
  width: 150px;
}

.film-container a:visited {
  color: beige;
}
