.film-poster img {
  border-radius: 20px;
  box-shadow: 5px 5px 10px var(--color1);
  width: 350px;
  align-self: end;
}

.film-poster img:hover {
  animation-name: hover;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.film-poster {
  display: flex;
}

.film-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.film-information {
  align-self: center;
  background-color: var(--color1);
  border-radius: 20px;
  padding: 20px;
  height: min-content;
  box-shadow: 5px 5px 10px var(--color1);
  width: 400px;
}

.film-description {
  margin-bottom: 10px;
}

.year-genre {
  display: flex;
  gap: 20px;
  font-weight: 500;
}

.price-button {
  margin-top: 10px;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.price-button p {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

@keyframes hover {
  0% {
    transform: translateY(0px);
    filter: brightness(1) contrast(1);
  }
  50% {
    transform: translateY(-10px);
    filter: brightness(1.3) contrast(1.2);
  }
  100% {
    transform: translateY(0px);
    filter: brightness(1) contrast(1);
  }
}

@media only screen and (max-width: 1000px) {
  .film-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
}
